{# templates/high_score/index.html.twig #}
{% extends 'high_score/layout.html.twig' %}

{# {% block title %}Hello HighScoreController!{% endblock %} #}

{% block content %}
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}
    <h1>Highscores of the Game 100!</h1>
    {# <p>{{ dump(high_scores) }}</p> #}

    <table class="high-scores-table">
        {# <caption>Highscores of Game 100</caption> #}
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Winner</th>
                <th>Score</th>
                <th>Datetime</th>
            </tr>
        </thead>
        <tbody>
        {% for high_score in high_scores %}
            <tr>
                {# <td>{{ high_score.id }}</td> #}
                <td>{{ high_score.winner }}</td>
                <td>{{ high_score.score }}</td>
                <td>{{ high_score.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
